<a href="https://colab.research.google.com/github/nyan-tech-learn-more/ML-one-to-two-DataScience/blob/main/Task02_HW.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Task #02 作業 01

Task #02 作業 01【實作題】資料選取請從給定的 DataFrame 分別篩選出符合條件的資料：
1. filtered by first column > 20?
2. filtered by first column + second column > 50
3. filtered by first column < 30 or second column > 30
4. filtered by total sum of row > 100

In [ ]:
import pandas as pd
import numpy as np
df = pd.DataFrame(np.random.randint(10, 40, 60).reshape(-1, 4))
print(df)
print('------------------')
print('1. filtered by first column > 20?')
# - 1. filtered by first column > 20?

mask = df[0] > 20 #選取第一行,index0 且> 20
print(df[mask]) #遮罩方法選取Dataframe的數據

print('------------------')
print('2. filtered by first column + second column > 50')
# - 2. filtered by first column + second column > 50

mask1 = df[0]
mask2 = df[1]
mask3 = df[0] + df[1] #將DataFrame第一欄和第二欄的元素相加,結果儲存在mask3中。
print(df[mask3> 50])  #輸出DataFrame中,第一欄和第二欄元素之和大於50的所有列。

#也可以整句寫一起
filtered_df = df[(df[0] + df[1]) > 50]
print(filtered_df)

print('------------------')
print('3. filtered by first column < 30 or second column > 30')
# - 3. filtered by first column < 30 or second column > 30
print(df[(df[0]<30) | (df[1]>30)])
 # df[0] < 30會產生一個布林Series,表示DataFrame第一欄中哪些元素小於30
 # df[1] > 30會產生另一個布林Series,表示DataFrame第二欄中哪些元素大於30。

print('------------------')
# - 4. filtered by total sum of row > 100
print('4. filtered by total sum of row > 100')

  #row > 100要讓每個欄相加
row = df.sum(axis=1) #axis=column 相加
print(df[row>100])

     0   1   2   3
0   25  34  36  23
1   14  24  22  23
2   37  27  20  30
3   25  37  31  39
4   11  37  23  19
5   12  15  37  27
6   34  20  28  20
7   27  14  33  27
8   36  32  39  28
9   12  10  37  30
10  32  29  26  10
11  39  36  21  30
12  26  25  18  27
13  36  21  14  12
14  28  28  20  21
------------------
1. filtered by first column > 20?
     0   1   2   3
0   25  34  36  23
2   37  27  20  30
3   25  37  31  39
6   34  20  28  20
7   27  14  33  27
8   36  32  39  28
10  32  29  26  10
11  39  36  21  30
12  26  25  18  27
13  36  21  14  12
14  28  28  20  21
------------------
2. filtered by first column + second column > 50
     0   1   2   3
0   25  34  36  23
2   37  27  20  30
3   25  37  31  39
6   34  20  28  20
8   36  32  39  28
10  32  29  26  10
11  39  36  21  30
12  26  25  18  27
13  36  21  14  12
14  28  28  20  21
     0   1   2   3
0   25  34  36  23
2   37  27  20  30
3   25  37  31  39
6   34  20  28  20
8   36  32  39  28
10  32  29  26  10
11  39  36  21  30
12  26  25  18  27
13  36  21  14  12
14  28  28  20  21
------------------
3. filtered by first column < 30 or second column > 30
     0   1   2   3
0   25  34  36  23
1   14  24  22  23
3   25  37  31  39
4   11  37  23  19
5   12  15  37  27
7   27  14  33  27
8   36  32  39  28
9   12  10  37  30
11  39  36  21  30
12  26  25  18  27
14  28  28  20  21
------------------
4. filtered by total sum of row > 100
     0   1   2   3
0   25  34  36  23
2   37  27  20  30
3   25  37  31  39
6   34  20  28  20
7   27  14  33  27
8   36  32  39  28
11  39  36  21  30

In [ ]:

# - 1. filtered by first column > 20?
print(df[df[0]>30])

# - 2. filtered by first column + second column > 50
print(df[df[0]+df[1]>50])

# - 3. filtered by first column < 30 or second column > 30
mask3 = (df[0] < 30) | (df[1] > 30)
print(df[mask3])

# - 4. filtered by total sum of row > 100
print(df[df.sum(axis=1)>100])

     0   1   2   3
2   37  27  20  30
6   34  20  28  20
8   36  32  39  28
10  32  29  26  10
11  39  36  21  30
13  36  21  14  12
     0   1   2   3
0   25  34  36  23
2   37  27  20  30
3   25  37  31  39
6   34  20  28  20
8   36  32  39  28
10  32  29  26  10
11  39  36  21  30
12  26  25  18  27
13  36  21  14  12
14  28  28  20  21
     0   1   2   3
0   25  34  36  23
1   14  24  22  23
3   25  37  31  39
4   11  37  23  19
5   12  15  37  27
7   27  14  33  27
8   36  32  39  28
9   12  10  37  30
11  39  36  21  30
12  26  25  18  27
14  28  28  20  21
     0   1   2   3
0   25  34  36  23
2   37  27  20  30
3   25  37  31  39
6   34  20  28  20
7   27  14  33  27
8   36  32  39  28
11  39  36  21  30

# Task #02 作業 02

###練習：請利用 Pandas 計算給定的資料中不同 weekday 的 visitor 總和為何？
❏ Sample Output: { 'Sun': 376, 'Mon': 782 }

❏ Sample Code：

import pandas as pd
import numpy as np

d = [
    {'city': 'Austin', 'visitor': 139, 'weekday': 'Sun'},
    {'city': 'Dallas', 'visitor': 237, 'weekday': 'Sun'},
    {'city': 'Austin', 'visitor': 326, 'weekday': 'Mon'},
    {'city': 'Dallas', 'visitor': 456, 'weekday': 'Mon'}
]

'''
Your Code
'''

In [25]:
import pandas as pd
import numpy as np

d = [
    {'city': 'Austin', 'visitor': 139, 'weekday': 'Sun'},
    {'city': 'Dallas', 'visitor': 237, 'weekday': 'Sun'},
    {'city': 'Austin', 'visitor': 326, 'weekday': 'Mon'},
    {'city': 'Dallas', 'visitor': 456, 'weekday': 'Mon'}
]

print(d)

[{'city': 'Austin', 'visitor': 139, 'weekday': 'Sun'}, {'city': 'Dallas', 'visitor': 237, 'weekday': 'Sun'}, {'city': 'Austin', 'visitor': 326, 'weekday': 'Mon'}, {'city': 'Dallas', 'visitor': 456, 'weekday': 'Mon'}]