<a href="https://colab.research.google.com/github/nyan-tech-learn-more/ML-one-to-two-DataScience/blob/main/Task02_sample.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### 安裝Pandas

In [ ]:
!pip install requests
!pip install pandas

Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (2.31.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests) (2.0.7)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests) (2024.2.2)
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (2.0.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2023.4)
Requirement already satisfied: tzdata>=2022.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.1)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.25.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

### 建立Pandas物件與外部資料存取

In [ ]:
#Series 物件
#Series是Pandas中最基本的數據結構之一，它是一維數據結構，類似於Python中的列表或數組。創建Series物件可以使用以下代碼：
#想要利Pandas Series來儲存單維度的資料，就需要先建立Pandas Series物件

import pandas as pd
#建立一個Series 物件,宣告一個pandas的Series類型資料，非常簡單的使用.Series()並將數值放到一個變數s中。
s = pd.Series([1,3,5,7,9])
print(s)
#輸出結果如下是會以一維序列的形式：

0    1
1    3
2    5
3    7
4    9
dtype: int64

In [ ]:
#**DataFrame物件**

#DataFrame是Pandas中的另一個重要數據結構，它是一個二維表格，類似於關聯數據庫中的表格或Excel中的工作表。創建DataFrame物件可以使用以下代碼

import pandas as pd

# 創建一個DataFrame物件, 格式為字典dict
data = {'name': ['Alice', 'Bob', 'Charlie', 'David'],
        'age': [25, 32, 18, 47],
        'city': ['New York', 'Paris', 'London', 'Berlin']}

#上面我們定義了一組數據data，並用.DataFrame()將它轉成DataFrame。DataFrame和Series一樣，若沒有特別定義index的話它會自動的分配。
df = pd.DataFrame(data)
print(df)

#DataFrame物件的列可以通過列名訪問，行可以通過索引或標籤訪問。

      name  age      city
0    Alice   25  New York
1      Bob   32     Paris
2  Charlie   18    London
3    David   47    Berlin

In [ ]:
#外部資料存取
import pandas as pd

#Pandas 支援各種外部資料存取，如 CSV、Excel、SQL、JSON 等，讀取不同格式文件可以這樣做：
#讀取csv文件
df = pd.read_csv('data.csv')
df = pd.read_excel('data.xlsx')

print(df)

### Series、DataFrame 的屬性

In [ ]:
# **Series物件的屬性**

# Series物件有一些常用的屬性，包括values、index、dtype和shape等。
# values屬性返回Series物件中的元素
# index屬性返回索
# dtype屬性返回數據類型
# shape屬性返回數據形狀
import pandas as pd

# 創建一個Series物件
a = [1, 3, 5, 7, 9]
s = pd.Series(a)
print(s)

print(s.values) #return value , [1 3 5 7 9]
print(s.index) #return index , RangeIndex(start=0, stop=5, step=1)
print(s.dtype) #return data type , dtype: int64
print(s.shape) #Series 物件中維度的數量和大小,五個, (5,)
print(s.shape[0]) #確認物件中元素的數量,[0]是固定用法, 5

0    1
1    3
2    5
3    7
4    9
dtype: int64
[1 3 5 7 9]
RangeIndex(start=0, stop=5, step=1)
int64
(5,)
5

In [ ]:
#DataFrame物件有一些常用的屬性，包括values、index、columns、dtype和shape等。
#values屬性返回DataFrame物件中的元素，index屬性返回行索引，columns屬性返回列索引，dtype屬性返回數據類型，shape屬性返回數據形狀

import pandas as pd

# 創建一個DataFrame物件
data = {'name': ['Alice', 'Bob', 'Charlie', 'David'],
        'age': [25, 32, 18, 47],
        'city': ['New York', 'Paris', 'London', 'Berlin']}
df = pd.DataFrame(data)
#存取DataFrame物件
print(df) #處理過後的格式
print()
print(df.values) #回傳數值
print()
print(df.index)
#RangeIndex(start=0, stop=4, step=1)

print(df.columns) #回傳欄位有哪些
#Index(['name', 'age', 'city'], dtype='object')

print(df.dtypes) #回傳欄位的資料型態

print(df.shape) #(4,3) 4個row(直), 3個columns(橫)
#df.shape 輸出一個元組，其中包含 DataFrame 物件的維度大小，輸出為 (4, 3)，表示以下含義：
#4: DataFrame 中有 4 個 rows (列)
#3: DataFrame 中有 3 個 columns (行)
#df.shape[0] 會輸出 4，代表資料有 4 列，而 df.shape[1] 會輸出 3，代表資料有 3 行。

      name  age      city
0    Alice   25  New York
1      Bob   32     Paris
2  Charlie   18    London
3    David   47    Berlin

[['Alice' 25 'New York']
 ['Bob' 32 'Paris']
 ['Charlie' 18 'London']
 ['David' 47 'Berlin']]

RangeIndex(start=0, stop=4, step=1)
Index(['name', 'age', 'city'], dtype='object')
name    object
age      int64
city    object
dtype: object
(4, 3)

### DataFrame 的資料選取

In [ ]:
#DataFrame物件支持多種資料選取方式，包括列選取、行選取和切片選取等。
#其中列選取和行選取是最常用的資料選取方式。第一種方式「行(columns)選取」可以通過欄位進行選取。例如：

import pandas as pd

# 創建一個DataFrame物件
data = {'name': ['Alice', 'Bob', 'Charlie', 'David'],
        'age': [25, 32, 18, 47],
        'city': ['New York', 'Paris', 'London', 'Berlin']}

df = pd.DataFrame(data)

print(df['name']) #直的行，選姓名, 單一行

print('---------------------------------------------------')

#切片選取
print(df[['name','city']]) #多行要注意括號[]

print('---------------------------------------------------')

#「列(row)選取」可以通過索引名稱或索引進行選取。例如：
print(df[0:3]) #不包括3, 只有012列，所以Alice, bob , Charlie而已
print('---------------------------------------------------')

# 或是利用索引名稱進行選取
# 會發現0123不見了，所以第一行變成name當index
df.set_index('name', inplace=True) ## 將 '姓名' 列設置為索引，name 列現在是 DataFrame 的索引，數據按 name 列中的值排序。
print(df['Alice':'Charlie'])

0      Alice
1        Bob
2    Charlie
3      David
Name: name, dtype: object
---------------------------------------------------
      name      city
0    Alice  New York
1      Bob     Paris
2  Charlie    London
3    David    Berlin
---------------------------------------------------
      name  age      city
0    Alice   25  New York
1      Bob   32     Paris
2  Charlie   18    London
---------------------------------------------------
         age      city
name
Alice     25  New York
Bob       32     Paris
Charlie   18    London

In [ ]:
 #DataFrame 支援一種用座標方式的二維選取。「.loc」是一個用於基於標籤（label）選擇行和列的方法，其中 .loc 用於純粹的標籤索引即行和列的名稱，基本語法如下：

 #df.loc[row_indexer, column_indexer]

 #其中 row_indexer 是用於選擇列的標籤，column_indexer 是用於選擇行的標籤。
 #這兩個參數都可以是一個標籤（單一標籤），也可以是一個標籤列表（多個標籤）。
 #當 row_indexer 和 column_indexer 都是標籤列表時，返回的是一個子 DataFrame

import pandas as pd

data = {'name': ['Alice', 'Bob', 'Charlie', 'David'],
        'age': [25, 32, 18, 47],
        'city': ['New York', 'Paris', 'London', 'Berlin']}
df = pd.DataFrame(data) #pd.DataFrame把data內資料作轉換存到df變數
df.set_index('name', inplace=True) #用name當索引

# 選取 "Alice" 和 "Charlie" 的 "age" 和 "city"
result = df.loc[['Alice', 'Charlie'],['age','city']]
print(result)

         age      city
name
Alice     25  New York
Charlie   18    London

In [ ]:
#需要根據特定的條件篩選出DataFrame中的數據時，可以使用遮罩選取的方法。
#遮罩選取指的是根據一個或多個條件建立一個布林遮罩，然後用這個遮罩選取DataFrame中的數據

import pandas as pd

# 創建一個DataFrame物件
data = {'name': ['Alice', 'Bob', 'Charlie', 'David'],
        'age': [25, 32, 18, 47],
        'city': ['New York', 'Paris', 'London', 'Berlin']}
df = pd.DataFrame(data)

#使用遮罩選取
mask = df['age'] > 30
print(df[mask])

#-----------------------------
print('---------------------------')

# 使用多個條件組合使用遮罩選取
# 創建一個年齡大於30且城市為Paris的遮罩
mask = (df['age'] > 30 ) & (df['city'] == 'Paris') #條件要括號分開
print(df[mask])

#在這個的例子中，我們使用了&符號將年齡大於30和城市為Paris這兩個條件組合起來，然後使用這個遮罩選取了DataFrame中符合條件的數據。

    name  age    city
1    Bob   32   Paris
3  David   47  Berlin
---------------------------
  name  age   city
1  Bob   32  Paris

### DataFrame 的算術運算與排序

In [ ]:
import pandas as pd

# 創建兩個DataFrame物件
data1 = {'name': ['Alice', 'Bob', 'Charlie', 'David'],
         'age': [25, 32, 18, 47],
         'city': ['New York', 'Paris', 'London', 'Berlin']}
df1 = pd.DataFrame(data1)

data2 = {'name': ['Eva', 'Frank', 'Grace', 'Henry'],
         'age': [29, 23, 37, 31],
         'city': ['Rome', 'Sydney', 'Tokyo', 'Moscow']}
df2 = pd.DataFrame(data2)

# 進行加法
print(df1+df2)

           name  age          city
0      AliceEva   54  New YorkRome
1      BobFrank   55   ParisSydney
2  CharlieGrace   55   LondonTokyo
3    DavidHenry   78  BerlinMoscow

In [ ]:
#DataFrame物件可以按照指定的列或行進行排序，例如

import pandas as pd

# 創建一個DataFrame物件
data = {'name': ['Alice', 'Bob', 'Charlie', 'David'],
        'age': [25, 32, 18, 47],
        'city': ['New York', 'Paris', 'London', 'Berlin']}
df = pd.DataFrame(data)

# 按照age列進行排序，預設為升序排序，使用sort_values()
#把df做排序, 在下面的程式中，我想排序age的資料，只需要在資料後面加上.sort_values()並在括弧內加上要排序的column
print(df.sort_values(by='age'))
print('---------')

# 按照age列進行降序排序
print(df.sort_values(by='age',ascending=False)) #預設Ture, False會反過來
print('---------')

# 按照索引進行排序
print(df.sort_index())

      name  age      city
2  Charlie   18    London
0    Alice   25  New York
1      Bob   32     Paris
3    David   47    Berlin
---------
      name  age      city
3    David   47    Berlin
1      Bob   32     Paris
0    Alice   25  New York
2  Charlie   18    London
---------
      name  age      city
0    Alice   25  New York
1      Bob   32     Paris
2  Charlie   18    London
3    David   47    Berlin

### DataFrame 資料合併與重組

In [ ]:
##DataFrame物件可以根據指定的條件將不同的DataFrame物件合併在一起。常用的方法包括concat()、merge()和join() 等。
#concat() 方法
#使用 concat() 方法可以將多個DataFrame物件沿著指定的軸合併在一起。例如：

import pandas as pd

# 創建兩個DataFrame物件
data1 = {'name': ['Alice', 'Bob', 'Charlie', 'David'],
         'age': [25, 32, 18, 47],
         'city': ['New York', 'Paris', 'London', 'Berlin']}
df1 = pd.DataFrame(data1)

data2 = {'name': ['Eva', 'Frank', 'Grace', 'Henry'],
         'age': [29, 23, 37, 31],
         'city': ['Rome', 'Sydney', 'Tokyo', 'Moscow']}
df2 = pd.DataFrame(data2)


#沿著列軸合併
print(pd.concat([df1,df2],axis=0))

      name  age      city
0    Alice   25  New York
1      Bob   32     Paris
2  Charlie   18    London
3    David   47    Berlin
0      Eva   29      Rome
1    Frank   23    Sydney
2    Grace   37     Tokyo
3    Henry   31    Moscow

In [ ]:
#merge 使用merge()方法可以根據指定的欄位將兩個DataFrame物件合併在一起。例如：
import pandas as pd

# 創建兩個DataFrame物件
data1 = {'name': ['Alice', 'Bob', 'Charlie', 'David'],
         'age': [25, 32, 18, 47],
         'city': ['New York', 'Paris', 'London', 'Berlin']}
df1 = pd.DataFrame(data1)

data2 = {'name': ['Alice', 'Bob', 'Charlie', 'David'],
         'salary': [5000, 6000, 7000, 8000]}
df2 = pd.DataFrame(data2)

# 根據name欄位合併兩筆資料重疊column name (兩筆資料重疊column name相同可用)，若無指定 會自動尋找相同的column name
print(pd.merge(df1, df2, on='name'))
print('--------------')
print(pd.merge(df1, df2))

      name  age      city  salary
0    Alice   25  New York    5000
1      Bob   32     Paris    6000
2  Charlie   18    London    7000
3    David   47    Berlin    8000
--------------
      name  age      city  salary
0    Alice   25  New York    5000
1      Bob   32     Paris    6000
2  Charlie   18    London    7000
3    David   47    Berlin    8000

In [ ]:
#join()方法

# 使用 join() 方法可以將兩個DataFrame物件按照索引合併在一起。例如：
import pandas as pd

# 創建兩個DataFrame物件
data1 = {'age': [25, 32, 18, 47],
         'city': ['New York', 'Paris', 'London', 'Berlin']}
df1 = pd.DataFrame(data1, index=['Alice', 'Bob', 'Charlie', 'David'])

data2 = {'salary': [5000, 6000, 7000, 8000]}
df2 = pd.DataFrame(data2, index=['Alice', 'Bob', 'Charlie', 'David'])

#按照索引合併
print(df1.join(df2))

         age      city  salary
Alice     25  New York    5000
Bob       32     Paris    6000
Charlie   18    London    7000
David     47    Berlin    8000

In [ ]:
#groupby
#使用groupby()方法可以將資料依照自己要的column分組


import pandas as pd

data = {'name': ['Alice', 'Bob', 'Charlie', 'David', 'Emma', 'Frank'],
        'age': [25, 32, 18, 47, 23, 31],
        'gender': ['female', 'male', 'female', 'male', 'female', 'male'],
        'city': ['New York', 'Paris', 'London', 'Berlin', 'New York', 'Paris'],
        'salary': [50000, 80000, 25000, 100000, 35000, 75000]}
df = pd.DataFrame(data)

#是根據要的某一項資料做分組方便查找，根據不同組別做資料處理的概念。

#想按照 "city" 這一列的值將 DataFrame 分組，
#grouped = df.groupby('city') #依據city做分組
grouped = df.groupby(['city', 'gender']) #可以將多個列的值作為分組條件

#然後對每個城市的人口數、平均年齡、平均薪資進行統計分析,name是加總幾個，年齡平均
result = grouped.agg({'name':'count','age': 'mean', 'salary':'mean'})
print(result)

                 name   age    salary
city     gender
Berlin   male       1  47.0  100000.0
London   female     1  18.0   25000.0
New York female     2  24.0   42500.0
Paris    male       2  31.5   77500.0