<a href="https://colab.research.google.com/github/nyan-tech-learn-more/ML-one-to-two-DataScience/blob/main/Task3_Sample.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### 發送請求 → 攔截回應

In [ ]:
# 發送請求 → 攔截回應
# 我們可以利用 requests 這個套件來模擬使用者「發送請求 → 接收回應」的行為：

import requests

url = XXX'
r = requets.get(url)

response = r.text

#只是這邊取回來的資料其實是一個「長得很像 HTML 原始碼的字串」，必須經過處理後才可以拿到資料。可以嘗試將「網址」的部分換成真實的網址試試看，執行後的 respone 應該會印出一段 HTML 原始碼。

### 解析內容

In [ ]:
#對於 HTML 字串可以利用 beatifulsoup 進行解析，解析成一個樹狀結構：
from bs4 import BeautifulSoup
d = BeautifulSoup(r.text)
print(d)

### 解析內容

In [ ]:
#!pip install beautifulsoup4
#!pip install requests
import requests
r = requests.get('https://rate.bot.com.tw/xrt?Lang=zh-TW')

from bs4 import BeautifulSoup

d = BeautifulSoup(r.text)

title = d.find('title') #找到html的title
print(title)

Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.10/dist-packages (4.12.3)
Requirement already satisfied: soupsieve>1.2 in /usr/local/lib/python3.10/dist-packages (from beautifulsoup4) (2.5)
Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (2.31.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests) (2.0.7)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests) (2024.2.2)
<title>臺灣銀行牌告匯率</title>

In [14]:
import pandas as pd
import sqlite3

#建立資料庫連線
connection = sqlite3.connect('test.db')

# 建立一個名為 students 的資料表
connection.execute('''CREATE TABLE students3
             (ID INT PRIMARY KEY NOT NULL,
             NAME TEXT NOT NULL,
             AGE INT NOT NULL,
             GRADE INT NOT NULL);''')

# 插入一些資料
connection.execute("INSERT INTO students3 (ID, NAME, AGE, GRADE) \
              VALUES (1, 'John', 20, 85)")
connection.execute("INSERT INTO students3 (ID, NAME, AGE, GRADE) \
              VALUES (2, 'Mary', 21, 90)")
connection.execute("INSERT INTO students3 (ID, NAME, AGE, GRADE) \
              VALUES (3, 'Tom', 19, 78)")
connection.execute("INSERT INTO students3 (ID, NAME, AGE, GRADE) \
              VALUES (4, 'Lily', 22, 95)")

#提交更改
connection.commit()

#關閉連線
connection.close()

In [15]:
import pandas as pd
import sqlite3
#讀取資料庫
conn = sqlite3.connect('test.db')

#讀取資料表
df = pd.read_sql_query("SELECT * from students3", conn)

#關閉連線
conn.close()

# Show DataFrame
print(df)

   ID  NAME  AGE  GRADE
0   1  John   20     85
1   2  Mary   21     90
2   3   Tom   19     78
3   4  Lily   22     95

In [16]:
#如果你想要將 Pandas DataFrame 的資料寫入 SQLite 資料庫，你可以使用以下程式碼：

# 建立 SQLite 資料庫連線
conn = sqlite3.connect('test.db')

# 將 DataFrame 的資料寫入資料庫
df.to_sql('students_new', conn, if_exists='replace', index=False)

# 關閉資料庫連線
conn.close()